backEnd/.idea
bagitckEnd/db.sqlite3
backEnd/manage.py
backEnd/backend/__pycache__
**/__pycache__
backEnd/.babelrc
backEnd/db.sqlite3
backEnd/node_modules
backEnd/package-lock.json
backEnd/package.json
backEnd/webpack.config.js
researchFront/
backEnd/frontend/__pycache__
backEnd/frontend/migrations
backEnd/frontend/*.py